/*Container des Spielnamen*/
.container-name {
  margin-left: 20px;
  margin-bottom: -20px;
}

/*Kleine Überschrift des Spielnamens: Let's Play*/
.small-font {
  font-family: 'Rock Salt', cursive;
  font-size: 14px;
  margin-bottom: -15px;
  margin-left: 25px;
  /*Die Schrift soll nicht als Text markiert werden können*/
  -webkit-touch-callout: none;
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

/*Große Überschrift des Spielnamens: Proftionary*/
.big-font {
  font-family: 'Bebas Neue', cursive;
  font-size:38px;
  /*Die Schrift soll nicht als Text markiert werden können*/
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

/*Container des Zeichenbereichs*/
.container-canvas {
  margin-top:0;
}

/*Container für die Namensgenerierung eines Professors*/
.container-gen {
  margin-top: -345px;
  margin-left: 197px;
}

/*Visueller Hintergrund des Zeichenbereichs*/
.background {
  background-image: url('https://i.imgur.com/GeNO9d9.png');
  width: 534px;
  height: 364px;
  display: block;
}

/* Sidebar-Menü für die Size-Auswahl */
.sizeBar {
  height: 100px;
  width: 10px;
  line-height: 0;
  display: block;
  margin-top:-325px;
  margin-left:500px;
  margin-bottom:5px;
}

/* Sidebar-Menü für die Farb-Auswahl */
.colorBar {
  height: 10px;
  width: 600px;
  transition: all 0.5s ease-in-out;
  display: block;
  margin-top:-42px;
  margin-left:30px;
}

/* Die nötigen Anpassungen für den Transition-Effekt des colorBar-Toggles. */
.hidden {
  display: hidden;
}

.visuallyhidden {
  opacity: 0;
}

/*Allgemeine Anpassung der Buttons*/
button {
  border: none;
  background-color: #fff;
}

/*Anpassung der speziellen Buttons*/
.deleteButton {
  font-size:16px;
  cursor: pointer;
  color: black;
  border: none;
  display:block;
  margin-left:503px;
  margin-top:-30px;
}

.toggleColorButton {
  font-size:16px;
  cursor: pointer;
  color: black;
  border: none;
  margin-left:5px;
  margin-top:200px;
}

.generateProfButton {
  font-family: 'Bebas Neue', cursive;
  font-size: 13px;
  border:1px solid #000;
  padding-top:3px;
}

.showPicButton {
  font-family: 'Bebas Neue', cursive;
  font-size: 13px;
  border:1px solid #000;
  margin-top:365px;
  margin-left:-197px;
  padding-top:4px;
}

/*Auswahl für die Pinselgröße*/
.size1 {
  height: 8px;
  width: 8px;
  border: 1px solid #bbb;
  border-radius: 50%;
  display: inline-block;
  background:#000;
  margin-top:7px;
  margin-left:7px;
}

.size2 {
  height: 12px;
  width: 12px;
  border: 1px solid #bbb;
  border-radius: 50%;
  display: inline-block;
  background:#000;
  margin-left:5px;
  margin-top:5px;
}

.size5 {
  height: 16px;
  width: 16px;
  border: 1px solid #bbb;
  border-radius: 50%;
  display: inline-block;
  background:#000;
  margin-left:3px;
  margin-top:4px;
}

.size10 {
  height: 20px;
  width: 20px;
  border: 1px solid #bbb;
  border-radius: 50%;
  display: inline-block;
  background:#000;
  margin-left:1px;
  margin-top: 5px;
}

.size25 {
  height: 22px;
  width: 22px;
  border: 1px solid #bbb;
  border-radius: 25%;
  display: inline-block;
  background:#000;
}

/*Auswahl für die Zeichenfarbe*/
.cViolet {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;
  margin-bottom:5px;
  margin-left:5px;
  background:#9C27B0;
}

.cIndigo {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;
  margin-top:20px;
  margin-bottom:5px;
  margin-left:5px;
  background:#4B0082;
}

.cLPink {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;
  margin-top:20px;
  margin-bottom:5px;
  margin-left:5px;
  background:#FFC0CB;
}

.cDPink {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;
  margin-top:20px;
  margin-bottom:5px;
  margin-left:5px;
  background:#EE82EE;
}

.cLBlue {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;
  margin-bottom:5px;
  margin-left:5px;
  background:#03A9F4 ;
}

.cDBlue {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;
  margin-bottom:5px;
  margin-left:5px;
  background:#0D47A1 ;
}

.cRed {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;
  margin-bottom:5px;
  margin-left:5px;
  background:#B71C1C;
}

.cGreen {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;
  margin-bottom:5px;
  margin-left:5px;
  background:#4CAF50;
}

.cLime {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;
  margin-bottom:5px;
  margin-left:5px;
  background:#CDDC39;
}

.cYellow {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;
  margin-bottom:5px;
  margin-left:5px;
  background:#FFEB3B;
}

.cOrange {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;
  margin-bottom:5px;
  margin-left:5px;
  background:#FF9800;
}

.cBrown {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;
  margin-bottom:5px;
  margin-left:5px;
  background:#795548;
}

.cTan {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;
  margin-bottom:5px;
  margin-left:5px;
  background:#D2B48C;
}

.cGold {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;
  margin-bottom:5px;
  margin-left:5px;
  background:#DAA520;
}

.cLGrey {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;
  margin-bottom:5px;
  margin-left:5px;
  background:#D3D3D3;
}

.cDGrey {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;
  margin-bottom:5px;
  margin-left:5px;
  background:#808080 ;
}

.cBlack {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;
  margin-bottom:5px;
  margin-left:5px;
  background:#000000;
}

.eraser {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  border: 1px solid black;
  display: inline-block;
  margin-bottom:5px;
  margin-left:5px;
  background:white;
}